# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# 비밀키 등등. 전략도 배제해야 할까?
j0_personal_setting/
j5_personal_trading/

# Virtual environment
# Secret files
.env
*.env
secrets.json

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
*.db

# MyPy, Pylint, Coverage, etc.
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/

# PyInstaller
dist/
build/
*.spec

# VSCode local history
.history/

# OneDrive & other cloud junk
*.tmp
*.bak
~$*
*.swp